<% puts "json #{ @shot_pulled.shots.first.id.to_i}"
	puts "@last #{@last}"
 %>

<ul id="carousel">
<% @shot_pulled.shots.each do |shot| %>
	<li>
    <a href="<%= shot.url %>" class="preview" title="<%= shot.title %>"><img src="<%= shot.image_url %>" alt="Canyon Country iPad App is Live!"></a>
    <h3><%= shot.title %></h3>
    <p>by <a href="<%= shot.player.url %>" title=""><%= shot.player.name %></a></p>
  </li>

<% end %>
</ul>

<script>
$(document).ready(function() {
  $("#new").fadeIn("slow");
});
</script>

<script type="text/javascript">
  $("#carousel .preview").mouseenter(function(){
    $(this).fadeTo(200,0.2);  
  }).mouseleave(function(){
    $(this).fadeTo(200,1);
  });
</script>